<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">

    </head>
    <body>
        <header>
            <%- include('./_header.ejs')%>
        </header>
        <main>
            <h1> Codiel/ <%= title %></h1> 

            <section id="feed-posts">
                <h4>Posts</h4>
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="4" placeholder="Type here..."></textarea>
                    <input type="submit" value="Post">
                </form>
            </section>
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts) { %>
                            <li>
                                <%= post.content %>
                                <small>
                                    <%= post.user.name %>
                                </small>
                            </li>
                        </div>
                    <% } %>
                </ul>
            </div>

        </main>
        
        <footer>
            <%- include('./_footer.ejs')%>
        </footer>
    </body>
</html>